body {
    background-image: url('../images/ac:dc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    text-align: center;
    color: blue;
}

button {
    width: 50%;
    margin: 5% 25% 0 25%;
}

#question {
    font-size: 40px;
    font-family: 'Sedgwick Ave', cursive;
    color: red;
    text-align: center;
}

.button {
    width: 35%;
    font-family: 'Germania One', cursive;
    font-size: 25px;    
    margin: 5% 0 0 10%;
}

#incorrect {
    display: none;  
    width: 50%;
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 5% 25% 0 25%;
}

#timer {
    display: none;
    width: 30%;
    color: red;
    font-size: 30px;
   
}
#time {
    text-align: center;
}

#game {
    margin: 0 10% 0 10%;
}